/* === Custom Scrollbar for Horizontal Gallery === */
.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  display: none;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d97706;
}

/* @media (min-width: 1024px) {
.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  display: none;
}
} */
